/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:active {
  color: black;
}

a:visited {
  color: black;
}

a:active {
  color: black;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("/assets/ASpot_Weather.jpg");
}
