.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

form {
  display: flex;
}

button {
  margin-left: 30px;
}

input {
  color: white;
  font-size: 17px;

}

mat-label {
  color: white;
  font-size: 15px;
}
